@using static DriverSchoolApp.Constants.IndexPage


<!-- Team Start -->

<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
    <h6 class="text-primary text-uppercase mb-2">@MeetTheTeam</h6>
    <h1 class="display-6 mb-4">@TeamTitle</h1>
</div>
<div class="row g-0 team-items">
    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item position-relative">
            <div class="position-relative">
                <img class="img-fluid" src="~/img/team-1.jpg" alt="">
                <div class="team-social text-center">
                    <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-primary border-2 m-1" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="bg-light text-center p-4">
                <h5 class="mt-2">@TrainerName</h5>
                <span>инструктор</span>
            </div>
        </div>
    </div>

    <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                <img class="position-absolute w-100 h-100" src="~/img/about-1.jpg" alt="" style="object-fit: cover;">
                <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="~/img/about-2.jpg" alt="" style="width: 200px; height: 200px;">
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="h-100">
                <h6 class="text-primary text-uppercase mb-2">
                    за нас
                </h6>
                <h1 class="display-6 mb-4">@Title</h1>
                <p>@Description</p>

                <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@text1</p>
                <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@text2</p>
                <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@text3</p>
                <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@text4</p>
                <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@text5</p>
                <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@text6</p>
                <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@text7</p>

            </div>
        </div>
    </div>

</div>

<!-- About End -->
