@using static DriverSchoolApp.Constants.CoursesPage


<!-- Courses Start -->
<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">


    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">@TrandingCourses</h6>
        <h1 class="display-6 mb-4">@CoursesUpskill</h1>
    </div>

    <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">@CategoryBTitle</div>
                    <h6 class="mb-3">@CategoryBDescription</h6>
                    <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/courses-1.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-primary border-2" href="/Categories/CategoryB">Научете повече</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">@CategoryBAutoTitle</div>
                    <h6 class="mb-3">@CategoryBAutDescription</h6>
                    <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/courses-2.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-primary border-2" href="/Categories/CategoryBAuto">Научете повече</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">@CategoryCTitle</div>
                    <h6 class="mb-3">@CategoryCDescription</h6>
                    <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/courses-3.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-primary border-2" href="/Categories/CategoryC">Научете повече</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<

<!-- Courses End -->