@using DriverSchoolApp.Models;

@model CoursesModel


<!-- Courses Start -->
<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">

    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <h6 class="text-primary text-uppercase mb-2">@Model.TrandingCourses</h6>
        <h1 class="display-6 mb-4">@Model.CoursesUpskill</h1>
    </div>

    <div class="row g-4 justify-content-center">
        <!-- Category B start -->
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">@Model.CategoryBTitle</div>
                    <h6 class="mb-3">@Model.CategoryBDescription</h6>
                    <p>@Model.CouresLocation</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/Courses/Category-B.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-primary border-2" href="/Categories/CategoryB">Научете повече</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category B end -->
        <!-- Category B Auto satart -->
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">@Model.CategoryBAutoTitle</div>
                    <h6 class="mb-3">@Model.CategoryBAutDescription</h6>
                    <p>@Model.CouresLocation</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/Courses/Category-BAuto.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-primary border-2" href="/Categories/CategoryBAuto">Научете повече</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category B Auto end -->
        <!-- Category BE satart -->
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">@Model.CategoryBETitle </div>
                    <h6 class="mb-3">@Model.CategoryBEDescription</h6>
                    <p>@Model.CouresLocation</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/Courses/Category-BE.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-primary border-2" href="/Categories/CategoryBE">Научете повече</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category BE end -->
        <!-- Category C satart -->
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">@Model.CategoryCTitle</div>
                    <h6 class="mb-3">@Model.CategoryCDescription</h6>
                    <p>@Model.CouresLocation</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/Courses/Category-C.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-primary border-2" href="/Categories/CategoryC">Научете повече</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category C end -->
        <!-- Category CE satart -->
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                <div class="text-center p-4 pt-0">
                    <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">@Model.CategoryCETitle</div>
                    <h6 class="mb-3">@Model.CategoryCEDescription</h6>
                    <p>@Model.CouresLocation</p>
                </div>
                <div class="position-relative mt-auto">
                    <img class="img-fluid" src="~/img/Courses/Category-C.jpg" alt="">
                    <div class="courses-overlay">
                        <a class="btn btn-outline-primary border-2" href="/Categories/CategoryCE">Научете повече</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category CE end -->
    </div>
</div>
<

<!-- Courses End -->