@using DriverSchoolApp.Models;

@model IndexViewModel


 <!-- Carousel Start -->
<div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="img/TitlePage/Title-1.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <h4 class="display-2 text-light mb-5 animated slideInDown">@Model.HeaderCarouselTextFirst</h4>
                                <a href="/Home/AboutUs" class="btn btn-primary py-sm-3 px-sm-5">За нас</a>
                                <a href="/Home/Courses" class="btn btn-light py-sm-3 px-sm-5 ms-3">Kурсове</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img class="w-100" src="img/TitlePage/Title-2.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <h1 class="display-2 text-light mb-5 animated slideInDown">@Model.HeaderCarouselTextSecond</h1>
                                <a href="/Home/AboutUs" class="btn btn-primary py-sm-3 px-sm-5">За нас</a>
                                <a href="/Home/Courses" class="btn btn-light py-sm-3 px-sm-5 ms-3">Kурсове</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-lg-square bg-primary">
                            <i class="fa fa-car text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h6>@Model.EasyDrivingLearn </h6>
                            <span>Отлична подготовка на бъдещите шофьори</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-lg-square bg-primary">
                            <i class="fa fa-users text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h6>@Model.NationalInstructor</h6>
                            <span>Професионално отношение към кандидатите</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-lg-square bg-primary">
                            <i class="fa fa-file-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h6>@Model.GetLicence</h6>
                            <span>След усвояване на реален практически опит</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<!-- About Start -->
<div class="container-xxl courses my-6 py-6 pb-0">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="img/about-1.jpg" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="img/about-2.jpg" alt="" style="width: 200px; height: 200px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h6 class="text-primary text-uppercase mb-2">
                        за нас
                    </h6>
                    <h1 class="display-6 mb-4">@Model.Title</h1>
                    <p>@Model.Description</p>

                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@Model.text1</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@Model.text2</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@Model.text3</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@Model.text4</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@Model.text5</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@Model.text6</p>
                    <p class="mb-4"> <i class="fa fa-check text-primary me-2"></i>@Model.text7</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->